/*header*/
a{
	color:black;
}
a:hover{
	text-decoration:none;
	color:#62C29D;
}
/* logo */
.logo {
	width:8vw;
	height:8vw;
}
.logo a{
	color:#62C29D;
}
.logo a:hover{
	text-decoration:none;
	color:black;
}
.line1, .line2, .line3, .line4{
	height:3.5vw;
	border-style: inset;
	border-width: 0.5px;
	position:absolute;
	border-color:#62C29D;
}
.line1,.line2{
	transform:rotate(45deg);
}
.line3,.line4{
	transform:rotate(135deg);
}
.line1,.line3{
	left:23%;
}
.line2,.line4{
	right:23%;
}
.line1,.line4{
	bottom:2%;
}
.line2,.line3{
	top:2%;
}
.logo a{
	position:absolute;
	font-size:2vw;
}
.logo :nth-child(1){
	left:40%;
	top:-5%
}
.logo :nth-child(2){
	right:2%;
	top:30%;
}
.logo :nth-child(3){
	bottom:15%;
	left:42%;
	font-size:0.5vw;
}
.logo :nth-child(4){
	top:30%;
	left:2%;
}
.logo :nth-child(4){
	top:30%;
	left:2%;
}
.logo :nth-child(5){
	top:43%;
	left:46%;
	font-size:0.8vw;
}
/*logo2 normalise*/
#logo2	{
	width:8em;
	height:8em;
}
#logo2 div[class*="line"]{
	height:3.5em;
}
#logo2 a{
	font-size:2em;
}
#logo2 :nth-child(3){
	font-size:0.5em;
}
#logo2 :nth-child(5){
	font-size:0.8em;
}
/*
<section class="container-fluid p-0">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-8 p-0">
							<img src="IMG/vairorankena.jpg" class="img-fluid" alt="">
					</div>
					<div class="col-sm-12 col-md-12 col-lg-4 p-0">
						<div class="row">
							<div class="container text-center p-5 bg-white">
								<img src="IMG/zuvike.png" class="p-2" alt="">
								<h4 class="text-center py-2">VINTAGE OLIVA</h4>
									<p class="text-center p-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
									<img src="IMG/line.jpg" class="pt-3 pb-3" alt="">
								</div>
								<div class="container-fluid p-0">
									<img src="IMG/sedyneraudona.jpg" class="img-fluid p-0 w-100" alt="">
								</div>	
							</div>
						</div>
					</div>
				</div>
			</section>
			*/