/*header*/
header a{
	color:black;
}
header a:hover{
	text-decoration:none;
	color:#62C29D;
}
#divpadding{
	padding:2em;
}
/*discover-contact rows*/
#shopline{
	height:12rem;
	background-color:#283138;
}
#shopbutton {
	border-style:solid;
	border-width:0.05rem;
	border-color:#FFF;
}
#shopbutton a{
	letter-spacing: 0.2rem;
	color:#FFF;
}
#shopbutton:hover{
	border-color:#62C29D;
}
#shopbutton a:hover{
	text-decoration:none;
	color:#62C29D;
}
#inputbutton{
	width:50vw;
}
#gobutton{
	background-color: #62C29D;
	border: none;
	color: #FFF;
	padding: 0.8em 2em;
	font-size: 1em;
}
/* media*/
@media only screen and (max-width: 770px) {
	#inputbutton {
	width:70vw;
	}
}
@media only screen and (max-width: 500px) {
	#inputbutton {
	width:100vw;
	}
}
@media only screen and (max-width: 620px) {
	#rowtocol {
	flex-direction:column !important;
	}
	#rowtocol p{
	display:none;
	}
	a[href*="#shop"]{
		align-self: flex-end;
		order:1;
	}
}
@media only screen and (max-width: 620px) {
	#logo1{
		transform:scale(0.8)
	}
}
@media only screen and (max-width: 410px) {
	#divpadding{
		padding:0em !important;
	}
}
@media only screen and (max-width: 345px) {
	#logo1{
		display:none
	}
}
/* logo */
.logo {
	width:8em;
	height:8em;
}
.logo a{
	color:#62C29D;
}
.logo a:hover{
	text-decoration:none;
	color:black;
}
.line1, .line2, .line3, .line4{
	height:3.5em;
	border-style: solid;
	border-width: 0.5px;
	position:absolute;
	border-color:#62C29D;
}
.line1,.line2{
	transform:rotate(45deg);
}
.line3,.line4{
	transform:rotate(135deg);
}
.line1,.line3{
	left:23%;
}
.line2,.line4{
	right:23%;
}
.line1,.line4{
	bottom:2%;
}
.line2,.line3{
	top:2%;
}
.logo a{
	position:absolute;
	font-size:2em;
}
.logo :nth-child(1){
	left:40%;
	top:-5%
}
.logo :nth-child(2){
	right:2%;
	top:30%;
}
.logo :nth-child(3){
	bottom:15%;
	left:42%;
	font-size:0.5em;
}
.logo :nth-child(4){
	top:30%;
	left:2%;
}
.logo :nth-child(4){
	top:30%;
	left:2%;
}
.logo :nth-child(5){
	top:43%;
	left:46%;
	font-size:0.8em;
}

/*
<img src="IMG/shopnow.png" class="img-fluid position-absolute align-self-center bg-success" alt="">
*/